<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyxy.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.hyxy.entity.Role" >
    <id column="RoleID" property="roleid" jdbcType="INTEGER" />
    <result column="RolerName" property="rolername" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role
    where RoleID = #{roleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hyxy.entity.Role" >
    insert into role (RoleID, RolerName)
    values (#{roleid,jdbcType=INTEGER}, #{rolername,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hyxy.entity.Role" >
    update role
    set RolerName = #{rolername,jdbcType=VARCHAR}
    where RoleID = #{roleid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select RoleID, RolerName
    from role
    where RoleID = #{roleid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select RoleID, RolerName
    from role
  </select>
  
  
  
</mapper>